.container{
    background-color: #eaeaea;
}

.padding_zero {
    padding: 0px;
    margin: 0px;
}

#hello_div{
    padding:  30px;
    color: pink;
}

.jumboSettings{
    background-color: white;
    padding: 10px;
}

.input_control{
    width: 50%;
}

.img_control {
    width: 100%;
    padding-bottom: 10px;
}

/* .navbar-dark .navbar-brand{
    color: #8ad0df;
} */

.primary_color {
    /* color: #9983e0; */
    color: #1992a9;
    /* #131313 */
}

/* body{
    background-color: #EEEEEE;
} */

.navbar-custom{
    background-color: #131313;
}

/* .btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: #9983e0;
    border-color: #9983e0;
} */

/* .btn .btn-outline-info .my-2 .my-sm-0{
    color: #9983e0 !important; 
    background-color: #9983e0 !important;
} */
/* .btn-outline-info .my-2 .my-sm-0 btn btn-outline-info my-2 my-sm-0 */

/* .btn {
    color: #9983e0 !important;
}

.my-2 {
    color: #9983e0 !important;
}

.my-sm-0 {
    color: #9983e0 !important;
} */

hr{
    color: black;
    height: 0.5px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 10px;
    margin: 0px;
}

.card-img-top{
    border-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    /* border-top: ; */
    
}

.not_imp {
    color: rgb(212, 211, 211);
    font-weight: lighter;
    font-size: 9;
}

a{
    color: #1992a9;
    /* color: #9983e0; */
}

.card{
    border-radius: 20px;
}

.card:hover{
    box-shadow: 4px 4px 4px #a2c5cc;
    transform:scale(1.01);
}

.control {
    /* margin: 10px; */
    /* padding: 2px; */
    display: inline-block;
}

.layout {
    background: lightcoral;
    border: 2px solid black;
}

.topPadding {
    padding-top: 20px;
}

.bold_text{
    font-weight: bold;
}

.bold_text_title{
    font-weight: bold;
    font-size: 28px;
}

.bold_text_popularity{
    font-weight: bold;
    font-size: 22px;
}

.total_entry{
    font-weight: bold;
}

.content{
    padding: 0px;
    margin: 0px;
    display: inline-flex;
}

.results{
    padding: 0px;
    margin: 0px;
    display: inline-block;
    vertical-align: middle;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    display: table;
    text-align: center;
}

.space{
    padding-left: 10px;
}

th,
td {
    padding: 10px 20px;
    border: 1px solid #000;
    text-align: center;
}

.center_bold_heading{
    font-weight: bold;
    text-align: center;
}

.center{
    text-align: center;
    display: flex;
    justify-content: center;
}

.edit_button {
    position: relative;
}
.edit_button button {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 20px;
    width: 20px;
    border: none;
    background-color: #00000000;
}
.edit_button em {
    position: absolute;
    top: 0px;
    right: 0px;
    color: #9f9b9b;
}

.edit_pencil{
    padding-left: 4px;
}

.shrink_text{
    width: 100px;
}


.size_compact{
    /* display: block; */
    /* max-width:230px;
    max-height:95px; */
    vertical-align: middle;
    text-align: center;
    width: auto;
    height: auto;
}

.link_text_author{
    color: #1992a9;
    /* color: #9983e0; */
    text-decoration: underline;
}

.col2{
    display: block;
}

.grey_text{
    color: #9f9b9b;
}

.paddingTop{
    padding-top: 18px;
}

.col1{
    display: block;
}

.inline_css{
    display: inline-flex;
}

.delete_button{
    /* background-color: coral; */
    margin-bottom: 9px;
}

.all_border{
    /* padding: 10px 20px; */
    border: 0.5px solid #000;
    /* text-align: center; */
}

.no_dots{
    list-style: none;
    list-style-type: none;
}

.error_padding{
    margin: 4px;
    margin-bottom: 0px;
    /* height: 100px;
    width: 100px; */
}


/* CSS */
.button-56 {
    align-items: center;
    background-color: #1992a9;
    /* background-color: #9983e0; */
    border: 2px solid #111;
    border-radius: 8px;
    box-sizing: border-box;
    color: #111;
    cursor: pointer;
    display: block;
    /* display: flex; */
    font-family: Inter,sans-serif;
    font-size: 16px;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    max-width: 100%;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    }

    .button-56:after {
    background-color: #111;
    border-radius: 8px;
    content: "";
    display: block;
    height: 48px;
    left: 0;
    width: 100%;
    position: absolute;
    top: -2px;
    transform: translate(8px, 8px);
    transition: transform .2s ease-out;
    z-index: -1;
}

.button-56:hover:after {
    transform: translate(0, 0);
}

.button-56:active {
    background-color: #b5e3ec;
    outline: 0;
}

.button-56:hover {
    outline: 0;
}


textarea {
    resize: none;
    }

@media (min-width: 768px) {
    .button-56 {
        padding: 0 40px;
    }
}

.quizheader{
    background-color: #b5e3ec;
    padding: 40px;
    font-size: 20px;
}

.quizquestion{
    padding: 40px;
}

.bottombutton{
    margin-top: 40px;
}
.quizbar{
    background-color: #1992a9;
    height: 40px;
    width: 50%;
}
.error_handler{
    margin-top: 20px;
    text-align: center;
    color: red;
}
.topic{
    margin-top: 15px;
    size: 20px;
    font-weight: 700;
}
#help_div{
    margin-top: 30px;
    margin-right: 10px;
}
#help_btn{
    border-radius: 20px;
    height: 40px;
    width: 50px;
    font-size: 15px;
}
#progress_div{
    display: inline-block;
    text-align: center;
    vertical-align: auto;
}
#progress_question{
    position: absolute;
    top: 30%; left: 56%;
}
#help_btn_div{
    display: inline-block;
    text-align: right;
}
.modal-title{
    font-size: 15px;
}
/********************learning CSS****************************************/
.gif {
    width: 300px
}

.side_button {
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
    width: 110px;
    height: 70px;
    border-width: 1px;
    border-radius: 10px;
    border-style: solid;
    background-color: lightgreen;
}

.bold_text {
    font-weight: bold;
}

.back_button {
    width: 40px;
    height: 25px;
    margin-left: 120px;
    border-width: 1px;
    border-radius: 3px;
    border-style: solid;
    border-color: lightblue;
    color: blue;
    text-align: center;
}

.next_button {
    width: 40px;
    height: 25px;
    margin-left: 10px;
    border-width: 1px;
    border-radius: 3px;
    border-style: solid;
    border-color: lightblue;
    color: blue;
    text-align: center;
}

.sort_title {
    font-weight: bold;
    color: orange;
    font-size: 26px;
}

.text_title {
    font-weight: bold;
    color: orange;
    font-size: 36px;
    padding-bottom: 20px;
}

.main_text {
    font-size: 20px;
    padding-bottom: 40px;
}

.algo {
    font-size: 20px;
    padding-bottom: 20px;
}

.complexity {
    font-size: 24px;
    padding-top: 20px;
}


.bar{
    height: 200px;
    width: 40px;
    background-color: lightskyblue;
    justify-content: space-around;
    margin-left: 5px;
}

/* 
#bar1 {
    margin-right: 15px;
}
#bar2 {
    margin-right: 15px;
}
#bar3 {
    margin-right: 15px;
}
#bar4 {
    margin-right: 15px;
} */


.learnbar2{
    height: 130px;
}

.learnbar1{
    height: 170px;
}

.learnbar3{
    height: 140px;
}

.learnbar4{
    height: 200px;
}

.heighta {
    height: 130px;
}

.heightb{
    height: 140px;
}
.heightc{
    height: 170px;
}
.heightd{
    height: 200px;
}

.bar-parent{
    margin-top: 50px;
}

.yellow{
    background-color: yellow;
}

.green{
    background-color: green;
}

#tick{
    height: 20px;
}

#instruct{
    margin-top: 20px;
}

.left{
    position: relative;
    left: 30px;
}

#touch{
    height: 40px;
    width: 40px;
    position: relative;
    /* left: 60px; */
    top: 10px;
    right: 10px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
  
.sidenav a {
padding: 8px 8px 8px 32px;
text-decoration: none;
font-size: 25px;
color: #818181;
display: block;
transition: 0.3s;
}

.sidenav a:hover {
color: #f1f1f1;
}

.sidenav .closebtn {
position: absolute;
top: 0;
right: 25px;
font-size: 36px;
margin-left: 50px;
}

@media screen and (max-height: 450px) {
.sidenav {padding-top: 15px;}
.sidenav a {font-size: 18px;}
}

#sidebar_options{
    color: snow;
    font-weight: 300;
    font-size: 17px;
    cursor: pointer;
}

/********************draggable quiz CSS****************************************/
.destination-container-hover {
    color: lightyellow;
  }
.quizoption{
    margin-right: 0.5%;
    margin-left: 0.5%;

}
#sortable{
    padding-left: 30%;
}

#bb1{
    display: flex;
    flex-direction: row;
}



/* .down{
    position: absolute;
    top: 180px;
    left: 10px;
} */


/* .button-53 {
    background-color: #9983e0;
    border: 0 solid #E5E7EB;
    box-sizing: border-box;
    color: #000000;
    display: flex;
    font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 700;
    justify-content: center;
    line-height: 1.75rem;
    padding: .75rem 1.65rem;
    position: relative;
    text-align: center;
    text-decoration: none #000000 solid;
    text-decoration-thickness: auto;
    width: 100%;
    max-width: 460px;
    position: relative;
    cursor: pointer;
    transform: rotate(-2deg);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-53:focus {
    outline: 0;
}

.button-53:after {
    content: '';
    position: absolute;
    border: 1px solid #000000;
    bottom: 4px;
    left: 4px;
    width: calc(100% - 1px);
    height: calc(100% - 1px);
}

.button-53:hover:after {
    bottom: 2px;
    left: 2px;
}

@media (min-width: 768px) {
    .button-53 {
        padding: .75rem 3rem;
        font-size: 1.25rem;
    }
} */