{% extends "layout.html" %}

{% block content %}

<script>
    //  Data will come depending on route
    quiz_data = {{ quiz_data | tojson }}
    id = {{ id | tojson }}

    $(document).ready(function () {
        $.each(quiz_data.input, function (index, val) {

            let str1 = "#input".concat(index.toString());
            let str2 = "#quizbar".concat(index.toString());
            var parent = $(str1),
                child = parent.children(str2);
            child.height(val * 10)

            $('#sortable').sortable({
                
            });
        });


    })
</script>
<script type="text/javascript" src="{{ url_for('static', filename = 'draggable_quiz.js') }}"></script>

<body>
    <div class="container">
        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Quiz Help</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                {{quiz_data.explanation}}
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
            </div>
        </div>
        <div class="quizheader">Quiz</div>
        <div class="row center topic">{{quiz_data.topic}}</div>
        <div class="row center quizquestion">
            {{quiz_data.prompt}}
        </div>

        <div id="sortable" class="row align-items-end">

            <div class="col-1 quizoption" id="input0">
                <div class="quizbar" id="quizbar0"></div>
                {{quiz_data.input[0]}}
            </div>

            <div class="col-1 quizoption" id="input1">
                <div class="quizbar" id="quizbar1"></div>
                {{quiz_data.input[1]}}
            </div>

            <div class="col-1 quizoption" id="input2">
                <div class="quizbar" id="quizbar2"></div>
                {{quiz_data.input[2]}}
            </div>

            <div class="col-1 quizoption" id="input3">
                <div class="quizbar" id="quizbar3"></div>
                {{quiz_data.input[3]}}
            </div>

            <div class="col-1 quizoption" id="input4">
                <div class="quizbar" id="quizbar4"></div>
                {{quiz_data.input[4]}}
            </div>

        </div>

        <div class="bottombutton center">
            <button type="button" class="btn btn-primary btn-lg" id="next_btn" aria-label="Left Align">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span>Next Question</span>
            </button>
        </div>
        <div class="help_div" id="help_div">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-danger" id="help_btn" data-toggle="modal" data-target="#exampleModalCenter">
                Help?
            </button>
        </div>
    </div>
</body>

<!-- <script type="text/javascript">
    $("#next_btn").click(function () {
        window.location.href = "/quiz/" + (parseInt(quiz_data["id"]) + 1)
    })
</script> -->

{% endblock %}