{% extends "layout.html" %}

{% block content %}

    <!-- <script src="{{url_for('static', filename='homepage.js')}}"></script> -->

    <script>
        console.log("============")
        let homepage_data = {{ homepage_data| tojson}};

        $(document).ready(function () {
            let title = $("<div class='sort_title'>")
            $(title).text(homepage_data["title"])
            $("#main_section").append(title)

            let intro = $("<div class='main_text'>")
            $(intro).text(homepage_data["intro"])
            $("#main_section").append(intro)

            let bubble = $("<div class='center1'>")
            let bubble_gif = $("<img class='gif' src=''>")
            $(bubble_gif).attr("src", homepage_data["bubble_gif"])
            $(bubble).append(bubble_gif)

            $("#main_section").append(bubble)

            let next_section_div = $("<div class='center1'>")
            let next_section = $("<button id='next_section' class='start_button'>")
            $(next_section).text("Get Sorted")
            $(next_section).click(function (e) {
                window.location.href = "/learn/1";
            })
            $(next_section_div).append(next_section)

            $("#page").append(next_section_div)
        })
    </script>

    <div id="page" class="container">
        <div class="row">
            <div id="main_section"></div>
        </div>
    </div>

{% endblock %}