{% extends "layout.html" %}

{% block content %}

    <!-- <script src="{{url_for('static', filename='homepage.js')}}"></script> -->

    <script>
        console.log("============")
        let homepage_data = {{ homepage_data| tojson}};

        $(document).ready(function () {
            let title = $("<div>")
            $(title).text(homepage_data["title"])
            $("#main_section").append(title)

            let intro = $("<div>")
            $(intro).text(homepage_data["intro"])
            $("#main_section").append(intro)

            let row = $("<div class='row'>")

            let bubble = $("<div class='col-md-4'>")
            let bubble_gif = $("<img class='gif' src=''>")
            $(bubble_gif).attr("src", homepage_data["bubble_gif"])
            $(bubble).append(bubble_gif)
            $(row).append(bubble)

            let insertion = $("<div class='col-md-4'>")
            let insertion_gif = $("<img class='gif' src=''>")
            $(insertion_gif).attr("src", homepage_data["insertion_gif"])
            $(insertion).append(insertion_gif)
            $(row).append(insertion)

            let counting = $("<div class='col-md-4'>")
            let counting_gif = $("<img class='gif' src=''>")
            $(counting_gif).attr("src", homepage_data["counting_gif"])
            $(counting).append(counting_gif)
            $(row).append(counting)

            $("#main_section").append(row)


            let intro_button = $("<button id='intro_button' class='btn btn-primary'>")
            $(intro_button).text("Intro")
            $(intro_button).click(function (e) {
                window.location.href = "/";
            })
            $("#intro_div").append(intro_button)

            let bubble_button = $("<button id='bubble_button' class='btn btn-primary'>")
            $(bubble_button).text("Bubble Sort")
            $(bubble_button).click(function (e) {
                window.location.href = "/learn/1";
            })
            $("#bubble_div").append(bubble_button)

            let insertion_button = $("<button id='insertion_button' class='btn btn-primary'>")
            $(insertion_button).text("Insertion Sort")
            $(insertion_button).click(function (e) {
                window.location.href = "/learn/5";
            })
            $("#insertion_div").append(insertion_button)

            let quiz_button = $("<button id='quiz_button' class='btn btn-primary'>")
            $(quiz_button).text("Quiz")
            $(quiz_button).click(function (e) {
                window.location.href = "/quiz/1";
            })
            $("#quiz_div").append(quiz_button)


            row = $("<div class='row'>")

            let next_section_div = $("<div>")
            let next_section = $("<button id='next_section' class='btn btn-primary'>")
            $(next_section).text("Get Sorted")
            $(next_section).click(function (e) {
                window.location.href = "/learn/1";
            })
            $(next_section_div).append(next_section)
            $(row).append(next_section_div)

            $("#page").append(row)
        })
    </script>

    <div id="page" class="container">
        <div class="row">
            <div id="main_section" class="col-md-10"></div>

            <div id="button_section" class="col-md-2">
                <div id="intro_div"></div>

                <div id="bubble_div"></div>

                <div id="insertion_div"></div>

                <div id="quiz_div"></div>
            </div>
        </div>
    </div>

{% endblock %}