{% extends "layout.html" %}


{% block content %}


    <script>

        //  Data will come depending on route

        let bubble_data = {{ bubble_data| tojson}};
        let insertion_data = {{ insertion_data| tojson}};
        let id = {{ id| tojson}};

        let data

        $(document).ready(function () {
            if (id <= 3) {
                data = bubble_data
                bubble = true
                insertion = false
            } else {
                data = insertion_data
                insertion = true
                bubble = false
            }
            if (id % 3 === 0)
                step = 3
            else
                step = id % 3

            let title = $("<div class='sort_title'>")
            $(title).text(data["title"])
            $("#main_section").append(title)

            if (step == 1) {
                let intro = $("<div class='main_text'>")
                $(intro).text(data['help'].description)
                $("#main_section").append(intro)
            } else if (step == 2) {
                let row = $("<div class='row'>")
                let algo_div = $("<div class='col-6'>")

                for (key in data["help"].algorithm) {
                    let algo = $("<div class='algo'>")
                    $(algo).text(key + ": " + data["help"].algorithm[key])
                    $(algo_div).append(algo)
                }

                let complexity = $("<div class='complexity'>")
                $(complexity).append("<div> Best Case Time complexity: " + data['help'].best_complexity + "</div>")
                $(complexity).append("<div> Worst Case Time complexity: " + data['help'].worst_complexity + "</div>")
                $(algo_div).append(complexity)

                $(row).append(algo_div)

                let gif_div = $("<div class='col-6'>")
                let gif = $("<img class='gif' src=''>")
                $(gif).attr("src", data["help"].image)
                $(gif_div).append(gif)
                $(row).append(gif_div)

                $("#main_section").append(row)
            } else {
                let intro = $("<div class='main_text'>")
                $(intro).text("MATCH THE STEPS")
                $("#main_section").append(intro)

                let row = $("<div class='row'>")

                let gif_div = $("<div class='col-md-4'>")
                let gif = $("<img class='gif' src=''>")
                $(gif).attr("src", data["gif"])
                $(gif_div).append(gif)
                $(row).append(gif_div)

                let interaction = $("<div class='col-md-4'>")
                //TODO: interaction
                $(interaction).html(`
           <div id = "sortab" class="row align-items-end bar-parent">
            <div id = "bar1"><div class="bar heightc" id="learnbar1"><span id="d1" class='down'>{{bubble_data.Step1.array[0]}}</span></div>
            </div>
            <div id = "bar2"><div class="bar heighta" id="learnbar2"><span id="d2" class='down'>{{bubble_data.Step1.array[1]}}</span> </div>
            </div>
            <div id = "bar3"><div class="bar heightb" id="learnbar3"><span id="d3" class='down'>{{bubble_data.Step1.array[2]}}</span> </div>
            </div>
            <div id = "bar4"><div class="bar heightd" id="learnbar4"><span id="d4" class='down'>{{bubble_data.Step1.array[3]}}</span> </div>
            </div>
        </div>
        <div id="instruction"><img class='gif' id="touch" src="https://media2.giphy.com/media/e0BQsk91PB8Te5OlXx/200w.webp?cid=ecf05e477pfq9hy0zi737j7poomohq6nzt6p7qq28t69s7z8&rid=200w.webp&ct=g" /></div>
        <div id="instruct">Swap 29 and 14 as 29 is greater than 14</div>
            `)
                $(row).append(interaction)

                let steps = $("<div class='col-md-4'>")
                let step1 = $("<div id='step1' class='step_text'>")
                $(step1).text("Step 1")
                $(steps).append(step1)

                let step2 = $("<div id='step2' class='step_text'>")
                $(step2).text("Step 2")
                $(steps).append(step2)

                // let step3 = $("<div id='step3'>")
                // $(step3).text("Step 3")
                // $(steps).append(step3)

                $(row).append(steps)

                $("#main_section").append(row)
            }

            row = $("<div class='row button_padding'>")

            if (id != 1) {
                let back_div = $("<div>")
                let back = $("<button id='back' class='back_button'>")
                $(back).text("back")
                $(back).click(function (e) {
                    window.location.href = "/learn/" + (parseInt(id) - 1).toString();
                })
                $(back_div).append(back)
                $(row).append(back_div)
            }

            let next_div = $("<div>")
            let next
            if (id == 1)
                next = $("<button id='next' class='first_next'>")
            else
                next = $("<button id='next' class='next_button'>")
            $(next).text("next")
            $(next).click(function (e) {
                if (id == 6)
                    window.location.href = "/quiz/1";
                else
                    window.location.href = "/learn/" + (parseInt(id) + 1).toString();
            })
            $(next_div).append(next)
            $(row).append(next_div)

            $("#page").append(row)
        })
    </script>

    <script type="text/javascript" src="{{ url_for('static', filename = 'learn.js') }}"></script>


    <div id="page" class="container">
        <div class="row">
            <div id="main_section" class="col-md-12"></div>
        </div>
    </div>

{% endblock %}