{% extends "layout.html" %}

{% block content %}


    <script>

        //  Data will come depending on route

        let bubble_data = {{ bubble_data| tojson}};
        let insertion_data = {{ insertion_data| tojson}};
        let id = {{ id| tojson}};

        let data

        $(document).ready(function () {
            if (id <= 4)
                data = bubble_data
            else
                data = insertion_data

            if (id % 4 === 0)
                step = 4
            else
                step = id % 4

            let title = $("<div>")
            $(title).text(data["title"])
            $("#main_section").append(title)

            if (step === 1) {
                let intro = $("<div>")
                $(intro).text("TODO: text and explanation")
                $("#main_section").append(intro)
            } else {
                let intro = $("<div>")
                $(intro).text("MATCH THE STEPS")
                $("#main_section").append(intro)

                let row = $("<div class='row'>")

                let gif_div = $("<div class='col-md-4'>")
                let gif = $("<img class='gif' src=''>")
                $(gif).attr("src", data["gif"])
                $(gif_div).append(gif)
                $(row).append(gif_div)

                let interaction = $("<div class='col-md-4'>")
                //TODO: interaction
                $(interaction).text("TODO: interaction")
                $(row).append(interaction)

                let steps = $("<div class='col-md-4'>")
                let step1 = $("<div id='step1'>")
                $(step1).text("Step 1")
                $(steps).append(step1)

                let step2 = $("<div id='step1'>")
                $(step2).text("Step 2")
                $(steps).append(step2)

                let step3 = $("<div id='step1'>")
                $(step3).text("Step 3")
                $(steps).append(step3)

                $(row).append(steps)

                $("#main_section").append(row)

                let instruction = $("<div>")
                $(instruction).text(data[step - 1].description)
                $("#page").append(instruction)
            }
            row = $("<div class='row'>")

            if (step !== 1) {
                let back_div = $("<div>")
                let back = $("<button id='back' class='btn btn-primary'>")
                $(back).text("<")
                $(back).click(function (e) {
                    window.location.href = "/learn/" + (parseInt(id) - 1).toString();
                })
                $(back_div).append(back)
                $(row).append(back_div)
            }

            if (step !== 4) {
                let next_div = $("<div>")
                let next = $("<button id='next' class='btn btn-primary'>")
                $(next).text(">")
                $(next).click(function (e) {
                    window.location.href = "/learn/" + (parseInt(id) + 1).toString();
                })
                $(next_div).append(next)
                $(row).append(next_div)
            }

            $("#page").append(row)

            let intro_button = $("<button id='intro_button' class='btn btn-primary'>")
            $(intro_button).text("Intro")
            $(intro_button).click(function (e) {
                window.location.href = "/";
            })
            $("#intro_div").append(intro_button)

            let bubble_button = $("<button id='bubble_button' class='btn btn-primary'>")
            $(bubble_button).text("Bubble Sort")
            $(bubble_button).click(function (e) {
                window.location.href = "/learn/1";
            })
            $("#bubble_div").append(bubble_button)

            let insertion_button = $("<button id='insertion_button' class='btn btn-primary'>")
            $(insertion_button).text("Insertion Sort")
            $(insertion_button).click(function (e) {
                window.location.href = "/learn/5";
            })
            $("#insertion_div").append(insertion_button)

            let quiz_button = $("<button id='quiz_button' class='btn btn-primary'>")
            $(quiz_button).text("Quiz")
            $(quiz_button).click(function (e) {
                window.location.href = "/quiz/1";
            })
            $("#quiz_div").append(quiz_button)
        })
    </script>

    <div id="page" class="container">
        <div class="row">
            <div id="main_section" class="col-md-10"></div>

            <div id="button_section" class="col-md-2">
                <div id="intro_div"></div>

                <div id="bubble_div"></div>

                <div id="insertion_div"></div>

                <div id="quiz_div"></div>
            </div>
        </div>
    </div>

{% endblock %}