{% extends "layout.html" %}

{% block content %}

<!-- JavaScript file -->
<script type="text/javascript" src="{{ url_for('static', filename = 'quiz_end.js') }}"></script>

<script>
    //  Data will come depending on route
    let quiz_data = {{quiz_data| tojson}}
    let id = {{id| tojson}}
    let user_answers = {{user_answers| tojson}}
</script>

<body>
    <div class="container">
        <div class="quizheader">Quiz</div>
        <div class="row center quizquestion">
            Congratulation on finishing the quiz!
        </div>
        <div class="row center score" id="score_div"></div>
        <div class="row feedback" id="feedback_div"></div>
        <div class="btn btn-primary" id="retry_div">
            <button type="button" class="btn btn-primary btn-lg" id="retry_btn" aria-label="Left Align">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span>Retry</span>
            </button>
        </div>
    
    </div>
</body>

{% endblock %}