{% extends "layout.html" %}

{% block content %}



<script>

    let quiz_data = {{ quiz_data| tojson}}

</script>

<div class="container">
    <div class="quizheader">Quiz</div>
    <div class="row center quizquestion">
        What will array become after first &nbsp<strong> swap </strong>&nbsp in bubble sort for input [2, 1, 4, 3] ?
    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-3">
            <button type="button" class="btn btn-outline-secondary btn-block btn-lg">Secondary</button>
        </div>
        <div class="col-2"></div>
        <div class="col-3">
            <button type="button" class="btn btn-outline-secondary btn-block btn-lg">Secondary</button>
        </div>
        <div class="col-2"></div>

    </div>
    <div class="quizquestion"></div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-3">
            <button type="button" class="btn btn-outline-secondary btn-block btn-lg">Secondary</button>
        </div>
        <div class="col-2"></div>
        <div class="col-3">
            <button type="button" class="btn btn-outline-secondary btn-block btn-lg">Secondary</button>
        </div>
        <div class="col-2"></div>

    </div>
    <div class="bottombutton center">
        <button type="button" class="btn btn-primary btn-lg" aria-label="Left Align">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span>Next Question</span>
        </button>
    </div>
</div>

{% endblock %}